<% provide(:title, "About") %>
<!DOCTYPE html>
    <h1>About The Developers</h1>
    <p>
      <a href="https://github.com/MWagner3"><em>Maximilian Wagner</em></a>
      <a href="https://github.com/samivari"><em>Sam Ivari</em></a>
      <a href="https://github.com/lisataylor5472"><em>Lisa Taylor</em></a>
      <a href="https://github.com/michaeljhicks"><em>Michael Hicks</em></a>
    </p>
