<% provide(:title, "Home") %>
<h1>Little Esty Shop</h1>

<div class="center jumbotron">
  <h1>Welcome to the Little Esty Shop</h1>
  <h2>
  This is the home page for the Little Esty Shop</h2>
    <%= link_to "Become a Merchant Today!", '#', class: 'btn btn-lg btn-primary' %>
</div>

<%= link_to image_tag("rails.svg", alt: "Rails logo", width: "200"),
"https://www.rubyonrails.org/" %>

<%#= image_tag("Goose-Blue-Bicolor-Ragdoll-Kitten-1-scaled.jpeg", alt: "Ragdoll Kitten", width: "400") %>
